name: flutter_debouncing_controllers
description: "Debouncing variants of flutter controllers and notifiers. Nearly DROP-IN replacements!"
version: 0.1.1
homepage: "https://github.com/oquad/flutter_debouncing_controllers"

environment:
  sdk: ^3.8.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  